.mainContainer{
    display: flex;
    flex-wrap: wrap;
}
.prodContainer{
    display: flex;
    flex-direction: column;
    padding: 10;
    border: 1px solid grey;
    margin-top: 10;
    gap: 10;
}
img{
    width: 50px;
    object-fit: cover;
}
.prods{
    display: flex;
    justify-content: space-evenly;
}
button{
    padding: 5;
    border: 0;
    border-radius: 5;
    background-color: rgb(72, 184, 72);
    color: white;
}